<div class="sidebar">
  <div class="profilepic">
    <a href="/"><img src="{{ site.author.logo }}" alt="onedollarprogrammer"></img></a>
  </div>
  <h1 class="title" ><a href="/" ><font id="change">码农，程序猿</font></a></h1>
  <h2 class="sub-title" >{{ site.blog.description }}</h2>
  <nav id="nav">
    <ul>
    {% for nav in site.data.nav %}
      <li><a href="{{ nav.href }}"{% if nav.newblank == true %}target="_blank"{% endif %}><i class="{{ nav.icon }}"></i>&nbsp;{{ nav.title }}</a></li>
    {% endfor%}
    </ul>
  </nav>  
  <nav id="sub-nav">
    <a class="weibo" href="{{ site.author.github }}" title="GitHub" target="_blank"><i class="fa fa-github-alt"></i></a>
  </nav>
</div>



   <script>
    window.self.setInterval("reviseColor()",10000);
    function reviseColor(){
	var dom = window.document;
	var f = dom.getElementById("change");
	("white"==f.style.color) ? (f.style.color = "red") : (("red" == f.style.color) ? (f.style.color = "green") :  ("green" == f.style.color)?f.style.color = "blue":(f.style.color = "white"));

	}
   </script>